<h1 class="text-color-green-dark">Meus produtos</h1>

<section class="product-set">
  <mat-divider></mat-divider>
  <h4 class="text-color-green-medium">Adicione um produto</h4>
  <div fxLayout="row wrap" fxLayoutAlign="start center">
    <app-loader></app-loader>
    <form [formGroup]="productForm"  (ngSubmit)="getProduct()" class="product-set__form" fxFlex="35">
      <mat-form-field appearance="outline">
        <mat-label>Digite o código</mat-label>
        <input formControlName="code" matInput placeholder="Código" type="text" autocomplete="off">
      </mat-form-field>
      <button mat-raised-button color="primary" class="mat-elevation-z0" type="submit">Procurar</button>
    </form>

    <mat-card *ngIf="productData" class="product-set__product" fxFlex="65">

      <div fxLayout="row wrap" fxLayoutAlign="start start">
        <div class="product-set__product__image">
          <img src={{productData?.image}} alt={{productData?.produtoNome}}>
        </div>

        <div class="product-set__product__info" fxFlex="75" fxLayout="column" fxLayoutAlign="start start">
          <h5 class="text-color-green-medium">{{productData?.produtoNome}}</h5>
          <span class="text"><strong>Código: </strong>{{productData?.codigoProduto}}</span>
          <span class="text"><strong>Preço: </strong>{{productData?.produtoValor | currency: 'BRL': true}}</span>
          <span class="text"><strong>Cashback: </strong>{{productData?.produtoCashback | percent}}</span>
        </div>
      </div>

      <mat-card-actions fxLayout="row" fxLayoutAlign="center center">
        <div class="product-set__product__button" fxFlexAlign="center">
          <button mat-raised-button color="primary" class="mat-elevation-z0" type="button">Adicionar</button>
        </div>
      </mat-card-actions>
    </mat-card>

  </div>

  <mat-divider></mat-divider>
</section>