<mat-toolbar color="primary" class="top-bar">
  <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
    <img src="../../../assets/images/logo-boticario-branco.png" alt="">
    <button mat-button class="top-bar__button" (click)="doLogout()">Sair</button>
  </mat-toolbar-row>
</mat-toolbar>

<div class="main-panel-master" fxLayout="row">
  <mat-sidenav-container fxFlex="15">
    <mat-sidenav class="menu" mode="side" opened>
      <mat-list class="menu__list" role="list">
        <mat-list-item class="menu__list__item" routerLinkActive="menu__list__item--active" routerLink="meus-cashbacks"
          role="listitem">Cashback
        </mat-list-item>
        <mat-list-item class="menu__list__item" routerLinkActive="menu__list__item--active" routerLink="produtos"
          role="listitem">Produtos</mat-list-item>
        <mat-list-item class="menu__list__item" routerLinkActive="menu__list__item--active" role="listitem">
          About</mat-list-item>
      </mat-list>
    </mat-sidenav>
  </mat-sidenav-container>

  <div class="panel-content bg-grey-lightest" fxFlex="100">
    <router-outlet></router-outlet>
  </div>
</div>
