<section class="main-login bg-green-medium" fxLayout="row" fxLayoutAlign="space-around center">
  <div class="call-box" fxFlex="30">
    <img src="../../../assets/images/logo-boticario-hero.png" alt="">
  </div>
  <div class="login-box" fxFlex="30" *ngIf="!sucessSignUp">
    <app-loader></app-loader>
    <mat-card>
      <h4 class="text-color-green-base">Faça seu cadastro</h4>
      <form [formGroup]="signUpForm" (ngSubmit)="signUp()">
        <div fxLayout="column">
          <mat-form-field>
            <input formControlName="name" matInput placeholder="Nome">
            <mat-error *ngIf="signUpForm.get('name').invalid">{{nameValidationHandler()}}</mat-error>
          </mat-form-field>

          <mat-form-field>
            <input formControlName="cpf" matInput placeholder="CPF" mask="000.000.000-00">
            <mat-error *ngIf="signUpForm.get('cpf').invalid">{{cpfValidationHandler()}}</mat-error>
          </mat-form-field>

          <mat-form-field>
            <input formControlName="email" matInput placeholder="E-mail">
            <mat-error *ngIf="signUpForm.get('email').invalid">{{emailValidationHandler()}}</mat-error>
          </mat-form-field>
          
          <mat-form-field>
            <input formControlName="password" matInput placeholder="Senha" type="password">
            <mat-error *ngIf="signUpForm.get('password').invalid">{{passwordValidationHandler()}}</mat-error>
          </mat-form-field>

          <mat-card-actions fxLayout="column" fxLayoutAlign="center center">
            <button mat-flat-button color="primary" type="submit" [disabled]="signUpForm.invalid">Cadastre-se</button>
            <span class="text">Já possui um cadastro? <a href="#" routerLink="/cadastro/login"
                class="text-color-green-medium">Entre na sua
                conta</a></span>
          </mat-card-actions>
        </div>
      </form>
    </mat-card>
  </div>

  <div class="login-box" fxFlex="30"  *ngIf="sucessSignUp">
    <mat-card fxLayout="column" fxLayoutAlign="center center">
      <h4 class="text-color-green-base">Cadastro efetuado</h4>
      <button mat-flat-button color="primary" type="button" routerLink="/cadastro/login">Entre na sua conta</button>
    </mat-card>
  </div>
</section>
