<section class="main-login bg-green-medium" fxLayout="row" fxLayoutAlign="space-around center">
  <div class="call-box" fxFlex="30">
    <img src="../../../assets/images/logo-boticario-hero.png" alt="">
  </div>
  <div class="login-box" fxFlex="30">
    <mat-card>
      <h4 class="text-color-green-base">Faça seu cadastro</h4>
      <form>
        <div fxLayout="column">
          <mat-form-field>
            <input formControlName="name" matInput placeholder="Nome">
          </mat-form-field>

          <mat-form-field>
            <input formControlName="cpf" matInput placeholder="CPF">
          </mat-form-field>

          <mat-form-field>
            <input formControlName="email" matInput placeholder="E-mail">
          </mat-form-field>

          <mat-form-field>
            <input formControlName="password" matInput placeholder="Senha" type="password">
          </mat-form-field>

          <mat-form-field>
            <input formControlName="passwordConfirm" matInput placeholder="Confirme sua senha" type="password">
          </mat-form-field>

          <mat-card-actions fxLayout="column" fxLayoutAlign="center center">
            <button mat-flat-button color="primary" type="submit">Cadastre-se</button>
            <span class="text">Já possui um cadastro? <a href="#" routerLink="/cadastro/login"
                class="text-color-green-medium">Entre na sua
                conta</a></span>
          </mat-card-actions>
        </div>
      </form>
    </mat-card>
  </div>
</section>
