<h1 class="text-color-green-dark">Sobre</h1>

<mat-card class="about">
  <mat-card-header>
    <mat-card-title>Lucas Teixeira dos Santos</mat-card-title>
    <mat-card-subtitle>Desenvolvedor Front-end</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <h5 class="text-color-green-medium">Contato</h5>
    <p class="text"><strong>E-mail: </strong><a href="mailto:lucasteixeira.dev@gmail.com"
        class="text-color-green-medium">lucasteixeira.dev@gmail.com</a></p>
    <p class="text"><strong>Celular: </strong>+55 (11) 95922-1068</p>
    <h5 class="text-color-green-medium">Sobre o sistema</h5>
    <p class="text"><strong>Back-end:</strong> Aplicação NodeJs com Restify e MongoDB, autenticação com JWT e CI/CD para
      o servidor cloud com
      GitLab.</p>
    <p class="text"><strong>Front-end:</strong> Aplicação Angular 8, com SCSS e BEM CSS, teste unitário com Jasmine,
      Angular Material
      e Angular Flex Layout.</p>
    <h6 class="text-color-green-medium">Códigos de produtos disponíveis para teste</h6>
    <ul>
      <li class="text">25458</li>
      <li class="text">22636</li>
      <li class="text">25472</li>
      <li class="text">22635</li>
      <li class="text">73607</li>
      <li class="text">73075</li>
      <li class="text">29527</li>
      <li class="text">2019030502</li>
      <li class="text">81414</li>
    </ul>
  </mat-card-content>
</mat-card>
