/* You can add global styles to this file, and also import other style files */

/*BASE CSS*/
@import './assets/style/base/colors';
@import './assets/style/base/typography';

/* You can add global styles to this file, and also import other style files */

// @import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Open Sans', "Helvetica Neue", sans-serif;
}


[class*='main'] {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
}
